header {
    width: 100%;
    background-color: #f8f8f8;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-nav {
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
    min-width: 300px;
}

.title-subtitle {
    padding: 1em;
}

.subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 2.2px;
}

@media screen and (min-width: 830px){
    .container-nav {
        display: flex;
        justify-content: space-between;
    }
    
}