@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@300;400&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
}
img {
    max-width: 100%;
    display: block;
}  

/* TYPOGRAPHY */
h1, h2, h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
}
h1 {  
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
    margin-bottom: .7em; 
}
h3 {
    font-size: 1.2rem;
    margin-bottom: .5em;
}
/* p {
    padding: .5em 0;
} */
a {
    color: #1792d2
}

.article-title {
    font-size: 1.5rem; 
}
.article-read-more, .article-info {
    font-size: .875rem;
   
}
.article-read-more {
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
    padding: 1.5em 0;  
}
.article-read-more:hover, .article-read-more:focus {
    text-decoration: underline;
}

.article-info {
    margin: 1.5em 0;
}

/* container-flex / body */
.container-flex {
    width: 90%;
    max-width: 900px;
    min-width: 300px;
    margin: 2em auto;
}

@media screen and (min-width: 675px) {
    .container-main-aside {
        display: flex;
        justify-content: space-between;
    }
}
